@font-face{
  font-family: myFirstfont;
  src:url("/font/DS-DIGI.TTF") ;
}
body{
margin: 0 auto;
padding: 0;
background-color: #fff;
}
.mainbody{

}
.left{
  float: left;
  width: 40%;
  margin-top: 147px;
 
}
.intuleft{
  text-align: center;
  font-size: 36px;
}
.intuleft h2{
  font-family:"myFirstfont";
}
.intuleft p{
  font-family:"myFirstfont";
}
.right{
  float: right;
  width: 56%;
  height: 193px;
  margin-top: 176px;
}
.intu{
  text-align: center;
  height: 149px;
  margin-top: 0px;
  margin-left: 48px;
  margin-right: 37px;
  background-color: #000000;
  box-shadow: 0px 0px 8px 6px #000000;
  border-radius: 16px;

}
.intu span{
  font-size: 114px;
  font-family: "myFirstfont";
  padding: 10px;
  color: #fff;
}
span#ampm{
  font-size: 52px;
  color: yellow;
}
.footer{
  width: 100%;
  text-align: center;
}
.creator_name{
  
}
.creator_name h3{
  color: rgb(10, 10, 10);
  padding-top: 550px;
}




